
body {
    margin: 0%;
}


@media screen and (max-width: 500px){
    /*website 1*/
    #dator1 {
        display: none;
    }
    #dator2 {
        display: none;
    }
    .tracksD {display: none;}
    body {
    grid-template-areas: 
      "hd hd"
      "sb sb1"
      "shdr shdr"
      "b1 t1"
      "b2 t1"
      "b3 t2"
      "b4 t2"
      "ft ft"
    ;
    display: grid;
    grid-template-rows: 70px auto auto 8rem 8rem 8rem 8rem 70px;
    grid-template-columns: 0.5fr 1fr;
    }
 }
    #hd {
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: lightblue;
        text-align: center;
        grid-area: hd;
        align-content: center;

}
    #secondhdr1 {
        background-color: red;
        margin-top: 0%;
        text-align: center;
        grid-area: shdr;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 0%;
    }
    #mobil1 {
        margin-bottom: 0%;
        grid-area: sb;

    }
    #mobil1 img {
        width: 100%;
        height: auto; 
        margin-bottom: 0%;
    }

    #text11 {
        grid-area: t1; 
        background-color: aqua;
    }
    #text21 {
        grid-area: t2;
        background-color: aquamarine;
    }
    #bild11 {
        grid-area: b1;
        background-color: blue;
    }
    #bild21 {
        grid-area: b2;
        background-color: brown;
    }
    #bild31 {
        grid-area: b3;
        background-color: beige;
    }
    #bild41 {
        grid-area: b4;
        background-color: blueviolet;
    }
    #ft1 {
        grid-area: ft;
    }
        h2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        align-items: center;
    }
    /*website 2*/
    body#p2 {
    display: flex;
    flex-direction: column;
    grid-template-rows: 70px auto auto 8rem 8rem 8rem 8rem 70px;
    grid-template-columns: 1fr;
    }
   #hd {
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: lightblue;
        text-align: center;
        align-content: center;
        height: 70px;

}
    #mobil2 {
        margin-bottom: 0%;

    }
    #mobil2 img {
        width: 100%;
        height: auto; 
        margin-bottom: 0%;
        display: block;
        border-radius: ;
    }
    #text12 h2 {
        color: white;
        background-color: #292831 ;
        padding: 0%;
        margin-right: 20%;
        margin-left:20%;
        border-radius: 10px;
    }
    #text12 {
        background-color: #333f58;
        text-align: center;
    }
    #text22 {
        padding-top: 5%;
        background-color: #333f58;
         background: linear-gradient(0deg, #ee8695,#333f58);
    }
    #schedule1 {
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        background: linear-gradient(0deg,#333f58, #4a7a96 ,#333f58);
    .week {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #292831;
        margin-left: 35%;
        margin-right: 35%;
        border-radius: 10px;
        color: white;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    #schedule2 {
        background-color: brown;
    }
    #ft {
    }
        h2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        align-items: center;
    }
    .tracksM {
        background: ;
    }
}
p {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
@media screen and (min-width: 500px) {
    #mobil {display: none;}
    .tracksM {display: none;}
    header {
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: lightblue;
        text-align: center;

}

}