
body {
    margin: 0%;
}

@media screen and (max-width: 500px){
    #dator {
        display: none;
    }
    body {
    grid-template-areas: 
      "hd hd"
      "sb sb"
      "b1 t1"
      "b2 t1"
      "b3 t2"
      "b4 t2"
      "ft ft"
    ;
    display: grid;
    grid-template-rows: 70px auto auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    }
    #hd {
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: lightblue;
        text-align: center;
        grid-area: hd;
        align-content: center;

}
    #mobil {
        grid-area: sb;

    }
    #mobil img {
        width: 500px;
        height: auto; 
    }
    #text1 {
        grid-area: t1; 
        background-color: aqua;
    }
    #text2 {
        grid-area: t2;
        background-color: aquamarine;
    }
    #bild1 {
        grid-area: b1;
        background-color: blue;
    }
    #bild2 {
        grid-area: b2;
        background-color: brown;
    }
    #bild3 {
        grid-area: b3;
        background-color: beige;
    }
    #bild4 {
        grid-area: b4;
        background-color: blueviolet;
    }
    #ft {
        grid-area: ft;
    }
}
@media screen and (min-width:501px) {
    #mobil {display: none;}
    header {
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: lightblue;
        text-align: center;

}

}